     @charset  "UTF-8";
     @import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100..800;1,100..800&family=Inika:wght@400;700&family=Itim&family=Merienda:wght@300..900&family=Nanum+Gothic&family=Nova+Round&family=Orbitron:wght@400..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300..700&family=Suravaram&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right, #F2F2F2, #8C8C87, #595959);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 40px 0px 40px;
    height: 650px;
    width: 100vw;
 
}

.item1{
    background-image: url("porsche.png");
    background-size: cover;
    background-position: center;
}

.item2{
    background-image: url("panamra.jpg");
    background-size: cover;
    background-position: center;
}

.item3{
    background-image: url("bmw.webp");
    background-size: cover;
    background-position: center;
}

.item4{
    background-image: url("audirs.jpg");
    background-size: cover;
    background-position: center;
}

.item5{
    font-family: "Space Grotesk", sans-serif;
}

.item6{
    background-image: url("mercedes.jpg");
    background-size: cover;
    background-position: center;
}

.item7{
     background-image: url("subaro.jpg");
     background-size: cover;
     background-position: center;
}

.item8{
    background-image: url("mustang.jpg");
    background-size: cover;
    background-position: center;
}

.item9{
    background-image: url("brian.jpg");
    background-size: cover;
    background-position: center;
}

